$primary-color: #191919;
$secondary-color: #49bd5a;
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: $primary-color;
  font-family: "Lato", sans-serif;
}
